<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:url" content="https://baking-bad.github.io/better-call-dev/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Better Call Dev">
    <meta property="og:description" content="Smart contract meta-explorer for Tezos. By Baking Bad.">
    <meta property="og:image" content="https://baking-bad.github.io/better-call-dev/logo_og.png">
    <meta property="og:image:secure_url" content="https://baking-bad.github.io/better-call-dev/logo_og.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="64">
    <meta property="og:image:height" content="64">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@TezosBakingBad">
    <meta name="twitter:title" content="Better Call Dev">
    <meta name="twitter:description" content="Smart contract meta-explorer for Tezos. By Baking Bad.">
    <meta name="twitter:image" content="https://baking-bad.github.io/better-call-dev/logo_og.png">
    <title>Better Call Dev — Smart contract meta-explorer for Tezos</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/vue-print-object.css">
    <link rel="stylesheet" href="./css/tabs.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css">
</head>

<body>
    <div class="github-ribbon">
        <a href="https://github.com/baking-bad/better-call-dev" target="_blank" class="github-corner"
            aria-label="View source on GitHub"><svg width="80" height="80" viewBox="0 0 250 250"
                style="fill:#76a34e; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true">
                <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
                <path
                    d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
                    fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
                <path
                    d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
                    fill="currentColor" class="octo-body"></path>
            </svg></a>
    </div>
    <div id="app" class="container mt-4">
        <loading></loading>
        <div class="row">
            <div class="col-lg-12 mb-4">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="main" v-model="tezosNet">
                    <label class="form-check-label" for="exampleRadios1">
                        MainNet
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="alpha" v-model="tezosNet">
                    <label class="form-check-label" for="exampleRadios2">
                        AlphaNet
                    </label>
                    <button type="button" class="btn btn-link demo-btn" @click="demo">Pick Random Contract</button>
                </div>
                <div class="input-group mb-3 mt-2 input-address">
                    <input v-model="address" type="text" class="form-control" placeholder="Enter KT-address"
                        aria-label="kt-address">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary" @click="explore">Go</button>
                    </div>
                </div>

            </div>

            <div class="col-lg-12 mb-3" v-if="isReady">
                <div id="tabs">
                    <div class="tabs">
                        <a v-on:click="activetab=1" v-bind:class="[ activetab === 1 ? 'active' : '' ]">Operations</a>
                        <a v-on:click="activetab=2" v-bind:class="[ activetab === 2 ? 'active' : '' ]">Storage</a>
                        <a v-on:click="activetab=3" v-bind:class="[ activetab === 3 ? 'active' : '' ]">Parameters</a>
                    </div>

                    <div class="content">
                        <div v-if="activetab === 1" class="tabcontent">
                            <div class="container">
                                <div class="row styled-row" v-for="group in groups">
                                    <div class="col-lg-1">
                                        <div class="info-block">
                                            <div class="one-four-six">{{ group.level }}</div>
                                            <div>{{ group.date }}</div>
                                            <div>{{ group.time }}</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-11 mb-3">
                                        <div class="row" v-for="tx in group['operations']">
                                            <div class="col-lg-6">
                                                <mark v-if="address == tx.source">{{ formatAddress(tx.source) }}</mark>
                                                <a v-else-if="tx.source.substring(0,3) == 'KT'" target="_blank"
                                                    :href="baseAppURL + tx.source">
                                                    {{ formatAddress(tx.source) }}
                                                </a>
                                                <span v-else>{{ formatAddress(tx.source) }}</span>

                                                <span style="font-size: 90%;">⟶</span>

                                                <mark
                                                    v-if="address == tx.destination">{{ formatAddress(tx.destination) }}</mark>
                                                <a v-else-if="tx.destination[0] == 'K'" target="_blank"
                                                    :href="baseAppURL + tx.destination">
                                                    {{ formatAddress(tx.destination) }}
                                                </a>
                                                <span v-else>{{ formatAddress(tx.destination) }}</span>
                                                <span style="font-size: 90%;">for</span>
                                                {{ formatXTZ(tx.amount) }}
                                                <span style="font-size: 90%;">with</span>
                                                {{ formatXTZ(tx.fee) }}
                                                <span style="font-size: 90%;">fee</span>
                                                <span v-if="tx.status"
                                                    :class="'badge ' + badgeClass(tx.status)">{{ tx.status }}</span>
                                                <br>
                                                <div style="font-size: 75%;">
                                                    parameters<br>
                                                    <print-object :printable-object="tx.decodedParameters">
                                                    </print-object>
                                                </div>
                                                <br>
                                            </div>
                                            <div class="col-lg-6" style="font-size: 75%;">
                                                <br><br>big_map_diff<br>
                                                <print-object :printable-object="tx.decodedBigMapDiff">
                                                </print-object>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="txInfo.currentPage != txInfo.maxPages" class="row styled-row">
                                    <div class="col-lg-12 text-center mb-3">
                                        <button type="button" class="btn btn-link" @click="loadMore">Load More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="activetab === 2" class="tabcontent storage-tab">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <span>storage</span><br>
                                        <print-object :printable-object="decoded_data"></print-object>
                                    </div>
                                    <div class="col-lg-6">
                                        <span>schema</span><br>
                                        <print-object :printable-object="decoded_schema"></print-object>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="activetab === 3" class="tabcontent parameters-tab">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <span>schema</span><br>
                                        <print-object :printable-object="parameterSchema"></print-object>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/vue-print-object.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>
    <script src="./js/app.js"></script>
</body>

</html>
